*{
    margin: 0px;
    padding: 0px;
}

#details{
    display: flex;
    justify-content: center;
    
}

#details a{
    margin: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    font-size: 4rem;
    padding: 10px;
    margin: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;
    margin: 10px;
}

.about p{
    /* justify-content: center; */
    text-align: center;
    font-size: 1.2rem;
}

